<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	  	<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
	  	</encoder>
	</appender>

	<!-- Application Packages - Logging Configuration -->
    <logger name="com.ibm.bamoe.dmoe.adaptors.engine"	level="debug" /> 
    <logger name="com.ibm.bamoe.dmoe.testing"			level="debug" /> 

	<!-- Drools (Red Hat) Packages - Logging Configuration -->
	<logger name="logging.level.org.drools.core.xml"  				level="error" /> 
	<logger name="org.drools.compiler.kie.builder.impl"				level="error" /> 
	<logger name="org.drools.modelcompiler" 						level="error" /> 
	<logger name="org.kie.server.api.marshalling.MarshallerFactory" level="error" /> 
	<logger name="org.kie.internal.pmml.PMMLImplementationsUtil" 	level="error" /> 

	<!-- Cucumber (Unit Testing) - Logging Configuration -->

	<!-- JDK - Logging Configuration -->
	
	<!-- Global Logging Level -->
	<root level="error">
	  	<appender-ref ref="STDOUT" />
	</root>
</configuration>